body {
    background: #007bff;
    background: linear-gradient(to right, #faaae6, #ffe3f9);
  }
  
  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../img/reg.jpg');
    background-size: cover;
  }
  
  .btn-submit {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }